.card {
    background-color: azure;
    width: 25vw;
    height: 180px;
    border: 1px solid rgb(186, 182, 182);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin: 10px;
}
.cardlink {
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    color: black;
}
.card:hover {
    background-color: rgb(185, 250, 250);
}

@media (max-width: 980px) {
    .card {
        width: 85vw;
        height: auto;
        min-height: 140px;
    }
    .cardlink {
        font-size: 33px;
    }
}