@import "../common/footer.css";
@import "../common/card.css";
@import "../common/button.css";

.layout {
    display: grid;
    grid-template-rows: fr fr fr;
    grid-template-columns: fr fr fr fr fr;
    grid-template-areas: 
    "header header header header header"
    "content1 content1 content1 content1 rightnavbar"
    "footer footer footer footer footer";
    justify-content: center;
}

#header {
    grid-area: header;
}

.arimgtop {
    width:300px;
    margin: auto;
    display: block;
}

#avatarround {
    display: inline;
    height: 50px;
    border-radius: 50%;
}

#content1 {
    grid-area: content1;
}

#rightnavbar {
    grid-area: rightnavbar;
}

#footer {
    grid-area: footer;
}

#rnav {
    width: 15vw;
    height: auto;
}

@media (max-width: 980px) {
    .layout {
        grid-template-rows: fr fr fr fr;
        grid-template-columns: fr;
        grid-template-areas: 
        "header"
        "content1"
        "rightnavbar"
        "footer";
    }

    #rightnavbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    #rnav {
        width :25vw;
        font-size: 1.6rem;
    }
}